<!DOCTYPE html>
<html lang="en" th:fragment="foot">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foot Page</title>
</head>

<body>
    <div class="hrms_footer" style="text-align: center;">
        <address>
            <strong> ian公司.Inc</strong><br>
            <br>
            <abbr title="Phone">P</abbr> (123) 456-7890
        </address>
    </div>

</body>

</html>