<html>
<head>
    <title>新增部門頁面</title>
</head>
<body>
<div class="modal fade dept-add-modal" tabindex="-1" role="dialog" aria-labelledby="dept-add-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">部門新增</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal add_dept_form">
                    <div class="form-group">
                        <label for="add_deptName" class="col-sm-2 control-label">部門名稱</label>
                        <div class="col-sm-8">
                            <input type="text" name="deptName" class="form-control" id="add_deptName" placeholder="人事部">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add_deptLeader" class="col-sm-2 control-label">部門領導</label>
                        <div class="col-sm-8">
                            <input type="text" name="deptLeader" class="form-control" id="add_deptLeader" placeholder="XXX">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary dept_save_btn">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
 // <!-- ==========================部門新增操作============== ======================-->
    // 操作簡單，省去輸入名稱的驗證、錯誤信息提示等
    //1 點擊部門新增按鈕，彈出模態框；
    //2 輸入新增部門信息，點擊保存按鈕，發送AJAX請求到後台進行保存；
    //3 保存成功最後一頁
    $(".dept_add_btn").click(function () {
        $('.dept-add-modal').modal({
            backdrop:static,
            keyboard:true
        });

    });

    $(".dept_save_btn").click(function () {
        var deptName = $("#add_deptName").val();
        var deptLeader = $("#add_deptLeader").val();
        //驗證省略...
        $.ajax({
            url:"/hrms/dept/addDept",
            type:"PUT",
            data:$(".add_dept_form").serialize(),
            success:function (result) {
                if(result.code == 100){
                    alert("新增成功");
                    $('.dept-add-modal').modal("hide");
                    $.ajax({
                        url:"/hrms/dept/getTotalPages",
                        type:"GET",
                        success:function (result) {
                            if (result.code == 100){
                                var totalPage = result.extendInfo.totalPages;
                                window.location.href="/hrms/dept/getDeptList?pageNo="+totalPage;
                            }
                        }
                    });
                }else {
                    alert(result.extendInfo.add_dept_error);
                }
            }
        });
    });
</script>
</body>
</html>
